body {
    font-family: 'cascadia mono', monospace;
    font-size: 14px;

    margin: 0;
    margin-left: 2px;
    padding: 0;

    background-color: #0d1117;
    color: antiquewhite;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-decoration: underline;
}

ul {
    margin: 0;

    line-height: 1.25em;
}

a {
    transition: ease 0.5s;
    text-decoration: none;

    color: rgb(224, 0, 224);
}
a:hover {
    color: rgb(0, 195, 255);
    font-size: medium;
}

.o {
    color: rgb(250, 142, 0);
} .b {
    color: blue;
} .g {
    color: green;
} .r {
    color: rgb(165, 0, 0);
}

h4 {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
}

header > h2 {
    margin: 0;
}

button {
    cursor: pointer;

    border: none;
    border-radius: 5px;
    padding: 16px 32px;

    color: antiquewhite;
    background-color: rgba(117, 103, 103, 0.788);
}

.code > pre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code > pre > code {
    white-space: pre;

    font-family: Consolas,
        'Lucida Console',
        'Liberation Mono',
        'DejaVu Sans Mono',
        'Bitstream Vera Sans Mono',
        'Courier New',
        monospace,
        sans-serif;
    font-size: 14px;

    background-color: #161B22;
    color: white;

    width: 88%;
    max-height: 100%;
    display: inline-block;

    border-radius: 3px;

    padding: 16px;
}

.comment {
    color: rgb(146, 134, 134) !important;
}
.keyword {
    color: rgb(0, 195, 255) !important;
}
.string {
    color: rgb(21, 255, 0) !important;
}
.number {
    color: rgb(198, 0, 224) !important;
}
.operator {
    color: rgb(255, 0, 43) !important;
}
.variable {
    color: rgb(211, 127, 2) !important;
}
.function {
    color: rgb(0, 255, 170) !important;
}
.keyword2 {
    color: rgb(3, 66, 240) !important;
}